:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  color: white;
  padding-left: 10vw;
}

header {
  display: flex;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

.nav-ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  padding-right: 10vw;
}

.nav-li {
  float: left;
}

.nav-li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.home {
  height: 100vh;
  width: 100%;
  background-image: url("images/main-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.home > h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 5rem;
  color: white;
  padding-top: 3.5em;
  margin-bottom: 0;
}

#home-typeWriter {
  font-size: 2rem;
}

.main-background{
  background-color: whitesmoke;
  padding: 10vh 15vh;
}

.about-article{
  background-color: white;
  border: white 1px solid;
  box-shadow: 0px 0px 15px lightgray;
  padding: 4em;
  display: flex;
  
  justify-content: space-between;
}

.about-information{
  display: flex;
}

.about-information>p{
  margin-left: 5vw;
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 0;
  line-height: 2.25em;
  color: rgb(19, 19, 19);
}

.profile-photo{
  width: 10em;
  height: 10em;
  border-radius: 10px;
}

.about-me{
  width: 50%;
}

.about-me>p{
  font-size: 1.25rem;
  color: gray;
  font-weight: lighter;
  line-height: 1.75rem;
}

.about-me > h2{
  text-decoration: underline;
  text-decoration-color: blue;
}

.about-skill{
  padding-left: 4vh;
  padding-right: 4vh;
}

.skill{
  display: flex;
  justify-content: space-between;
}

.services{
  margin-top: 5em;
  text-align: center;
}

.services>h2{
  font-size: 3rem;
  margin-bottom: 0;
}

.services>p{
  color: gray;
}

.services>hr{
  border-width: 2px;
  border-color: blue;
  width: 3em;
}